node_modules
build/Release/touch.exp
build/Release/touch.iobj
build/Release/touch.ipdb
build/Release/touch.lib
build/Release/touch.node
build/Release/touch.pdb
build/Release/obj/touch/touch.node.recipe
build/Release/obj/touch/touch.obj
build/Release/obj/touch/vcpkg.applocal.log
build/Release/obj/touch/win_delay_load_hook.obj
build/Release/obj/touch/touch.tlog/CL.command.1.tlog
build/Release/obj/touch/touch.tlog/Cl.items.tlog
build/Release/obj/touch/touch.tlog/CL.read.1.tlog
build/Release/obj/touch/touch.tlog/CL.write.1.tlog
build/Release/obj/touch/touch.tlog/link.command.1.tlog
build/Release/obj/touch/touch.tlog/link.read.1.tlog
build/Release/obj/touch/touch.tlog/link.secondary.1.tlog
build/Release/obj/touch/touch.tlog/link.write.1.tlog
build/Release/obj/touch/touch.tlog/touch.lastbuildstate
build/binding.sln
build/config.gypi
build/touch.vcxproj
build/touch.vcxproj.filters
node.h
