node_modules
build/Release/touch.exp
build/Release/touch.iobj
build/Release/touch.ipdb
build/Release/touch.lib
build/Release/touch.node
build/Release/touch.pdb
build/Release/obj/touch/touch.node.recipe
build/Release/obj/touch/touch.obj
build/Release/obj/touch/vcpkg.applocal.log
build/Release/obj/touch/win_delay_load_hook.obj
build/Release/obj/touch/touch.tlog/CL.command.1.tlog
build/Release/obj/touch/touch.tlog/Cl.items.tlog
build/Release/obj/touch/touch.tlog/CL.read.1.tlog
build/Release/obj/touch/touch.tlog/CL.write.1.tlog
build/Release/obj/touch/touch.tlog/link.command.1.tlog
build/Release/obj/touch/touch.tlog/link.read.1.tlog
build/Release/obj/touch/touch.tlog/link.secondary.1.tlog
build/Release/obj/touch/touch.tlog/link.write.1.tlog
build/Release/obj/touch/touch.tlog/touch.lastbuildstate
build/binding.sln
build/config.gypi
build/touch.vcxproj
build/touch.vcxproj.filters
node.h
build/Release/obj/touch/touch.tlog/touch.write.1u.tlog
parsec-vdd/x64/Debug/parsec-vdd-manager.exe
parsec-vdd/x64/Debug/parsec-vdd-manager.pdb
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-vdd-manager.exe.recipe
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-vdd-manager.ilk
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-vdd-manager.obj
parsec-vdd/parsec-v.BA5349DD/Debug/vc143.idb
parsec-vdd/parsec-v.BA5349DD/Debug/vc143.pdb
parsec-vdd/parsec-v.BA5349DD/Debug/vcpkg.applocal.log
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-v.BA5349DD.tlog/CL.command.1.tlog
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-v.BA5349DD.tlog/Cl.items.tlog
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-v.BA5349DD.tlog/CL.read.1.tlog
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-v.BA5349DD.tlog/CL.write.1.tlog
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-v.BA5349DD.tlog/link.command.1.tlog
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-v.BA5349DD.tlog/link.read.1.tlog
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-v.BA5349DD.tlog/link.secondary.1.tlog
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-v.BA5349DD.tlog/link.write.1.tlog
parsec-vdd/parsec-v.BA5349DD/Debug/parsec-v.BA5349DD.tlog/parsec-vdd-manager.lastbuildstate
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-vdd-manager.exe.recipe
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-vdd-manager.ilk
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-vdd-manager.log
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-vdd-manager.obj
parsec-vdd/parsec-v.BA5349DD/x64/Debug/vc143.idb
parsec-vdd/parsec-v.BA5349DD/x64/Debug/vc143.pdb
parsec-vdd/parsec-v.BA5349DD/x64/Debug/vcpkg.applocal.log
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-v.BA5349DD.tlog/CL.command.1.tlog
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-v.BA5349DD.tlog/Cl.items.tlog
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-v.BA5349DD.tlog/CL.read.1.tlog
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-v.BA5349DD.tlog/CL.write.1.tlog
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-v.BA5349DD.tlog/link.command.1.tlog
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-v.BA5349DD.tlog/link.read.1.tlog
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-v.BA5349DD.tlog/link.secondary.1.tlog
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-v.BA5349DD.tlog/link.write.1.tlog
parsec-vdd/parsec-v.BA5349DD/x64/Debug/parsec-v.BA5349DD.tlog/parsec-vdd-manager.lastbuildstate
parsec-vdd/Debug/parsec-vdd-manager.exe
parsec-vdd/Debug/parsec-vdd-manager.pdb
parsec-vdd/.vs/ProjectSettings.json
parsec-vdd/.vs/slnx.sqlite
parsec-vdd/.vs/VSWorkspaceState.json
parsec-vdd/.vs/parsec-vdd/FileContentIndex/7ca6c26e-cc9f-49df-9cb8-852b8f8b0acd.vsidx
parsec-vdd/.vs/parsec-vdd/FileContentIndex/7fcd658f-0047-471c-ac3b-4801f40004e6.vsidx
parsec-vdd/.vs/parsec-vdd/FileContentIndex/9b348170-ed7a-4b8d-b2b9-c723a632f5f2.vsidx
parsec-vdd/.vs/parsec-vdd/FileContentIndex/c4c7d56e-faa9-4aee-b5fd-8f838e34c5db.vsidx
parsec-vdd/.vs/parsec-vdd/FileContentIndex/c94b55c6-8abe-472e-9104-b35301e1be17.vsidx
parsec-vdd/.vs/parsec-vdd/v17/.wsuo
parsec-vdd/.vs/parsec-vdd/v17/DocumentLayout.json
parsec-vdd/.vs/parsec-vdd/v17/Preview/Browse.VC.db
parsec-vdd/.vs/parsec-vdd/v17/Preview/Browse.VC.db-shm
parsec-vdd/.vs/parsec-vdd/v17/Preview/Browse.VC.db-wal
parsec-vdd/.vs/parsec-vdd/v17/Preview/Browse.VC.opendb
parsec-vdd/.vs/parsec-vdd/v17/Preview/ipch/AutoPCH/16968660874a4333/PARSEC-VDD-MANAGER.ipch
parsec-vdd/.vs/parsec-vdd/v17/Preview/ipch/AutoPCH/62257b0943befa6f/TOUCH.ipch
parsec-vdd/.vs/parsec-vdd/v17/Preview/ipch/AutoPCH/d023368667e4a695/PARSEC-VDD-MANAGER.ipch
parsec-vdd/.vs/parsec-vdd-manager/FileContentIndex/e4210ca1-17d7-4b76-82ef-dd3853bdbc4e.vsidx
parsec-vdd/.vs/parsec-vdd-manager/v17/.suo
parsec-vdd/.vs/parsec-vdd-manager/v17/DocumentLayout.json
parsec-vdd/.vs/parsec-vdd-manager/v17/Preview/Browse.VC.db
parsec-vdd/.vs/parsec-vdd-manager/v17/Preview/Solution.VC.db
parsec-vdd/.vs/parsec-vdd-manager/v17/Preview/ipch/AutoPCH/bfb4aa0284bf5fc7/PARSEC-VDD-MANAGER.ipch
parsec-vdd/parsec-vdd-manager.vcxproj
parsec-vdd/parsec-vdd-manager.vcxproj.filters
parsec-vdd/parsec-vdd-manager.vcxproj.user
