doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 
        main
            div#call
                div#myStream
                    video#myFace(autoplay,playsinline, width="400", height="400")
                    button#mute Mute
                    button#camera Turn display Off
                    input#scale(type="number",value = 1)
                    button#Fullscreen Fullscreen
                    <p>WebSocket State：<label id="lblConnected">Disconnecte</label></p>
                    p#x x:0
                    p#y y:0 
                    p#z z:0

        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/cli.js") 