doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom 
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")

    body
        header
            h1 Hi! 
        main
            h2 welcome to noom!
            ul
            form#name
                input(type="text", praceholder="name", required)
                button Save 
            form#
                input(type="text", praceholder="msg", required)
                button Sand 
            
        script(src = "/public/js/app.js")
