doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title U Pad
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 U Pad
        main
            div
                form 
                    label#status
                    video#vod(autoplay,playsinline, width="400", height="400")
                    button#selectdisplay selectdisplay
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/server.js") 